body{text-align: center;
  margin: 0;
  padding: 0;
  background: url(back.jpg) 30%;
  color:rgb(92, 92, 92)}

  .btn-light, .btn-danger, .btn-success{
    box-shadow: 5px 5px 5px grey;
  }

  .avatargen img{
    height: 500px;
    width: 500px;
  }

  .dark{
    color:white;
    background: black;
    box-shadow: 5px 5px 5px grey;
  }

  .dark:hover{
    color:white;
    background: black;
  }